.post {
    text-align: left;
    margin-right: 2em;
}

.post-content {
    padding-left: 1em;
    padding-right: 1em;
}

.reply {
    text-align: left;
    margin-left: 1em;
}

.reply-button {
  width: 32px;
  height: 32px;
  float: right;
  background-color: green;
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  cursor: pointer;
  vertical-align: bottom;
  text-align: right;
  color: white;
}
